{
  "presets": ["@babel/preset-react"],
  "plugins": [["@babel/plugin-transform-modules-commonjs", { "loose": true }]],
  "env": {
    "production": {
      "plugins": [
        ["transform-react-remove-prop-types", { "removeImport": true }]
      ]
    }
  }
}
