{
  "presets": [
    "@babel/env",
    "@babel/react"
  ],
  "plugins": [
    [
      "@babel/plugin-transform-modules-commonjs",
      {
        "loose": true
      }
    ]
  ],
  "env": {
    "test": {
      "sourceMaps": true,
      "retainLines": true
    },
    "production": {
      "plugins": [
        [
          "transform-react-remove-prop-types",
          {
            "removeImport": true
          }
        ]
      ]
    }
  }
}